body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    justify-items: center;
}

header {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

button,
li:hover, .linkbox, .card_container p, .recent_stories_main_story_description_button, .header_buttons img {
    cursor: pointer;
}

input {
    display: block
}

.p {
    margin: 0;
}

.logo {
    float: left;
}

nav ul {
    height: 100%;
    float: right;
    display: flex;
    list-style: none;
    padding: auto;
}

nav li {
    font-family: "Roboto";
    display: flex;
    margin-right: 20px;
    justify-content: center;
}

nav a {
    color: #495367;
    text-decoration: none;
    size: 16px;
    padding: 8px;
}

.header_buttons {
    margin-top: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.header_buttons img {
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.header_wall {
    width: 1px;
    height: 40%;
    background-color: #EEEEEE;
}

.travel_presentation_form {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../src/images/hero\ background\ image.png');
    background-size: cover
}

.travel_presentation_content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.travel_presentation_content h1 {
    color: #434343;
    font-family: "Changa One";
    font-style: normal;
    font-size: 73px;
    font-weight: 400;
}

.travel_presentation_content > p {
    color: #434343;
    font-family: "Roboto";
    font-style: Regular;
    font-size: 22px;
    margin-top: -20px;
}

.bluetextcolor {
    color: #8a53ff;
}

.travel_presentation_content button{
    background-color: #8a53ff;
    color: white;
    border: none;
    border-radius: 4px;
    width: 165px;
    height: 46px;
    font-size: 16px;
    font-family: "Roboto";
}

.travel_presentation_buttons {
    display: flex;
}

.travel_presentation_watch_button {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.travel_presentation_watch_button p {
    color: #434343;
    font-family: "Roboto";
    font-style: Regular;
    font-size: 16px;
    margin-left: 10px;
}

.travel_presentation_watch_button button {
    background-color: #d8ccf1;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-image: url('../src/images/Polygon\ 1.png');
    background-size: 19px;
    background-position: center;
    background-repeat: no-repeat;
}

.featured_destination_form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured_destination_content  {
    display: flex;
    margin: 100px;
    width: 80%;
}

.featured_destination_text_content {
    margin-left: 50px;
    max-width: 470px;
    margin-top: 20px;
}

.featured_destination_content p {
    margin-bottom:  10px;
    margin-top: 10px;
}


.featured_destination_text_content p:first-child {
    color: #8a53ff;
    font-size: 18px;
    font-family: "Roboto";
    letter-spacing: 6%;
    font-weight: 700;
}

.featured_destination_text_content p:nth-child(even) {
    color: #434343;
    font-family: "Changa One";
    font-size: 39px;
    font-weight: 400;
}

.featured_destination_text_content p:last-child {
    color: #8a53ff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    margin-left: 10px;
}

.featured_destination_watch_button {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.featured_destination_watch_button button {
    background-color: #e9e1f9;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 20px;
    background-image: url('../src/images/Polygon\ 1.png');
    background-size: 19px;
    background-position: center;
    background-repeat: no-repeat;
}

.discover_world_form {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.discover_world_form p {
    color: #8a53ff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
}

.discover_world_form h1 {
    color: #434343;
    font-family: "Changa One";
    font-size: 39px;
    font-weight: 400;
}

.featured_destination_text_content_question {
    color: #434343;
    font-family: "Roboto";
    font-style: Regular;
    font-size: 16px;
}

.discover_world_cards_container {
    height: auto;
    display: flex;
    height: 410px;
    justify-content: center;
    width: 100%;
}

.card_container {
    width: 300px;
    height: 410px;
    margin: 10 10 10 10;
}

.card_container > h1 {
    margin: 0;
    font-size: 24px;
}


.share_travels_form {
    width: 100%;
    background-image: url('../src/images/Share\ your\ travels\ section\ background\ image.png');
    height: 120vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: top;
    text-align: center;
}

.recent_stories_header {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.share_travels_form p {
    text-transform: uppercase;
    color: #8a53ff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 33px;
}

.share_travels_form h1 {
    color: #434343;
    font-family: "Changa One";
    font-size: 39px;
    font-weight: 400;
}

.share_travels_header {
    width: 100%;
    justify-content: center;
}

.share_travels_link_form_container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.share_travels_link_form {
    width: 40%;
    height: auto;
    display: block;
    border-radius: 10px;
    background-color: white;
}

.share_travels_link_form_description {
    text-align: start;
    margin-left: 20px;
}

.share_travels_link_form_description p {
    color: #434343;
    font-family: "Changa One";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-transform: none;
}

.share_travels_link_form_description p:last-child {
    color: #434343;
    font-family: "Roboto";
    max-width: 80%;
    font-style: normal;
    font-size: 16px;
    text-transform: none;
}

.share_travels_link_form_unputs {
    width: 100%;
    margin-left: 20px;
}

.share_travels_link_form_unputs input {
    width: 90%;
    height: 51px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #d6d6d6;
    margin-top: 10px;
    border-style: solid;
}

.share_travels_link_form_unputs input.share_travels_big_input {
    width: 90%;
    height: 102px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #d6d6d6;
    margin-top: 10px;
    border-style: solid;
}

.share_travels_link_form_unputs input.share_travels_big_input::placeholder {
    transform: translateY(-30px);
}



.share_travels_link_form_unputs input::placeholder {
    padding: 10px;
}

.share_travels_button_submit {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}

.share_travels_button_submit button {
    min-width: 226px;
    background-color: #8a53ff;
    color: white;
    border: none;
    border-radius: 4px;
    width: 165px;
    height: 46px;
    font-size: 16px;
    font-family: "Roboto";
}

.recent_stories_form {
    background-color: white;
    height: 80vh;
    width: 100%;
}

.recent_stories_header p {
    color: #8a53ff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
}

.recent_stories_header h1 {
    color: #434343;
    font-family: "Changa One";
    font-weight: 400;
    font-size: 39px;
    line-height: 36px;
    text-transform: none;
}

.recent_stories_container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    min-height: 80px;
    height: 80px;
    width: 100%;

}

.footer_container {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer_container p {
    color: #939EB4;
    margin-right: 40%;
}

.recent_stories_main_story {
    height: 476px;
    width: 40%;
    display: block;
    justify-content: center;
    align-items: center;
}

.recent_stories_main_story img {
    width: 100%;
    height: 358px;
}

.recent_stories_main_story_description_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 0 0 20px 20px;
}

.recent_stories_main_story_description {
    width: 80%;
    margin-left: 20px;
    height: auto;
    display: block;
}

.recent_stories_main_story_description h1 {
    color: #434343;
    font-family: "Changa One";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-transform: none;
}

.recent_stories_main_story_description_button {
    background-color: #d8ccf1;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-image: url('../src/images/Polygon\ 1.png');
    background-size: 19px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.recent_stories_main_story_description p {
    color: #939EB4;
}

.recent_stories_cards_container {
    height: 100%;
    width: 40%;
    margin-left: 40px;
    display: grid;
    
    justify-content: space-between;
    align-items: center;
}

.footer_container nav ul a {
    color: #939EB4;
}

.recent_stories_card {
    width: 100%;
    height: 148px;
    display: flex;
    justify-content: space-between;
    background-color: #F9F9F9;
    border-radius: 8px;
}

.recent_stories_card img {
   margin: 10px;
}

.linkbox {
    color: #8a53ff;
}

.recent_stories_card h1 {
    color: #434343;
    font-family: "Changa One";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-transform: none;
}

.recent_stories_card p {
    color: #434343;
    font-family: "Roboto";
    max-width: 80%;
    font-style: normal;
    font-size: 16px;
    text-transform: none;
}

.recent_stories_card {
    background-color: #F9F9F9;
}
